<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Profile page</h1>
    <h2>User name is: {{name}}</h2>
    <h2>email is :{{email}}</h2>
    <a href="http://127.0.0.1:8000/book/home_page">home</a>
    {% if role == "admin"  %}
        <h1>This is admin portal</h1>
    {% endif %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for data in user_data %}
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>